@import './constants/colors';
@import './constants/fonts';

.header-container {
  min-height: 40px;
  padding: 1rem 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $navBlack2;
  box-sizing: border-box;

  .logo {
    text-decoration: none;

    &:hover {
      cursor: pointer;
    }
  }

  i {
    margin-right: 1rem;
    font-size: 2rem;
  }

  span {
    color: $navTitle;
    text-decoration: none;
    font-size: 1.5rem;
  }
  .secondary {
    background-color: $navTitle;
    border: none;
    color: white;
    font-family: $headerFont;
    border-radius: 8px;
  }
  .secondary:hover {
    background-color: $navTitleHover;
    border: none;
    color: white;
  }
  .primary {
    background-color: $navTitle;
    border: none;
    color: white;
    font-family: $headerFont;
    border-radius: 8px;
  }
  .primary:hover {
    background-color: $navTitleHover;
    border: none;
    color: white;
  }
}
