$primaryBlue: #1976d2;
$lightBlue: #63a4ff;
$darkBlue: #004ba0;

$primaryGrey: #bdbdbd;
$lightGrey:#efefef;
$darkGrey:#8d8d8d;
$navBlack: #2b2d2f;
$navBlack2: rgba(24,24,24, 0.9);

$navTitle: #008000;
$navTitleHover: #85bb65;